/* Navigation Bar  */
#navbar{
    flex-direction: column;
}
]
#navbar li a{
    font-size: 1rem;
    padding: 0px 1px;
}

/* Home section */
#home{
    height: 320px;
    padding: 0px 10px;
}
#home p{
    font-size: 1.2rem;
}
/* services Section  */

#services{
    flex-direction: column;
}
#ddd {
    margin: 200px 0px 0px 0px;
}
#services .box {
    /* border: 2px solid brown; */
    padding: 2px;
    margin: 3px 0px;
}

#services .box img{
    border-radius: 10px;
    width: auto;
}
#services .box #gobi{
    width: 230px;
}


/* client section  */

#clients{
    /* flex-wrap: wrap; */
    overflow: hidden;
}
#clients img{
    height: 20px;
    width: 70px;
}
#clients .client-item {
    margin: 3px;
    padding: 0px;
}

/* Contact us section */


/* Footer  */

/* utility classes */
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 1.2rem;
    padding: 4px 6px;
}